

.review_num {
    background-color: rgb(214, 207, 203);
    border-style:  ridge;
    border: 2px solid rgb(86, 82, 100);
    line-height: 150%;
    margin-bottom: 5px;

}

.reviewer-info{
    background-color: rgb(204, 183, 174);
    margin-top: auto;
}
.reviewer-info p{
    border: 1px solid rgb(112, 102, 119);
    line-height: 150%;
    font-size: small;
    border-style:  ridge;
   

}